<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public type="text/css" />
		<title>Apples To Apples</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
