<h1>Log in!</h1>

<form id="login-form">
    <label for="name">Input username (use for login)</label>
    <input type="text" id="name" value="Matt B"><br>

    <label for="password">Input password</label>
    <input type="text" id="password" value="pass1"><br>

    <label for="game">Game</label>
    <input type="text" id="game" value="game1"><br>

    <div id="button-row"></div>


</form>
