<!DOCTYPE HTML>

<html lang = "en">

<head>

    <title></title>

    <meta charset = "UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

                <link rel = "stylesheet" type = "text/css" href = "../assets/css/profile.css"/>

</head>

<body>

<!-- <script type="text/javascript" src="___.js"></script> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-1">
        <a class="btn btn-primary btn-lg center-block glyphicon glyphicon-remove" href="/login" role="Log in" aria-hidden="true"></a>
        </div>
        <div class="col-sm-11">
        </div>

        <h2 id="profile">Profile</h2>

    </div> <!-- X icon row -->

    <div class="row" id="picturerow">

        <img src="../assets/images/bronzetrophy.png" id="trophy" alt="" width="155" height="150"/>

        <img src="../assets/images/userprofile.jpg" class="img-circle" id="user" alt="" width="350" height="330"/>

        <img src="../assets/images/playedicon.png" class="img-circle" id="games_played" alt="" width="250" height="230">

    </div> <!-- User Profile, Trophy Pic + Games Played row -->

    <img src="../assets/images/wreath.gif" id="wreath" alt=""/>

    <br>

        <div class="container-fluid">

            <div class="row" id="info_text_row">

                <div class="col-md-4">

                    <span id="trophy_type"><h2 id="trophyType">   </h2></span>

                </div> <!-- Number of games played column -->

                <div class="col-md-4">

                    <span id="username"><h2 id="user_name">   </h2></span>

                </div> <!-- Trophy type column -->

                <div class="col-md-4">

                    <h2 id="games"><span id="numGamesPlayed">   </span> Games Played</h2>

                </div> <!-- Username text column -->

            </div> <!-- Info text row -->

        </div> <!-- Info text container -->

        <hr>

            <br>

                <br>

                    <br>

                        <br>

                            <div class="row" id="stats_row">

                                <h2 id="cards_flipped">Total Cards Flipped: <span id="cardsFlipped">   </span></h2>
                                <br>
                                    <h2 id="games_won">Games Won: <span id="gamesWon">   </span></h2>

                            </div> <!-- Stats row -->

</div> <!-- Container -->

</body>

</html>