<h1>Card Table!</h1>

<h2>Cards in play!</h2>

<ul>
  {{#each cards}}
      <li>
        {{this.text}}

        <!--form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>

        {{> cards/play-card}}<-->

      </li>
  {{/each}}
</ul>

<h2>Cards in hand!</h2>

<ul>
  {{#each cards}}
      <li>
        {{this.text}}

        <!--form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="false">
          <button type="submit">WAKE UP!</button>
        </form-->

        {{> cards/play-card}}
      </li>
  {{/each}}
</ul>

<h2>Log in</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="player">Player:</label>
    <input type="text" id="player" name="player">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
  </div>


  <button type="submit">Log in</button>
</form>
