
<h1>Card Table!</h1>

<h2>Cards in play!</h2>

<h4>Page loads:</h4> {{pageloads}}

<ul>
    {{#each public}}
    <li>
        <h3>Card state: {{this.type}}</h3>
        {{#if this.playable}}
            {{> cards/play-card}}
        {{/if}}
        {{#unless this.playable}}
            {{> cards/look-card}}
        {{/unless}}
        {{#if this.judge}}
            <h4>This is the judge!</h4>
        {{/if}}
        {{#if this.isNull}}
            <h4>Jaqen H'ghar!</h4>  (No one)
            <img src="/assets/images/jaqen.png">
        {{/if}}
    </li>
    {{/each}}
</ul>

<h2>Cards in hand!</h2>

<ul>
    {{#each mine}}
    <li>
        <h3>{{this.text}}</h3>
        <strong>Description:</strong>
        {{this.desc}}
            {{#if this.playable}}
                {{> cards/play-card}}
            {{/if}}
            {{#unless this.playable}}
                {{> cards/look-card}}
            {{/unless}}
    </li>
    {{/each}}
</ul>