body {
   background-color: rgba(255, 36, 43, 0.87);
    font-family: porkys;
}

#pHeadings {
	background-color: rgba(124, 252, 0, 0.92);
}

.jumbotron {
	background-color: rgba(124, 252, 0, 0.92);
	text-align: center;
}

#cardArea {
	text-align: center;
}

.sidebar {
	float: left;
}