body {
   background-color: rgba(255, 36, 43, 0.87);
    font-family: porkys;
}

#pHeadings {
	background-color: rgba(124, 252, 0, 0.92);
}

.jumbotron {
	background-color: rgba(124, 252, 0, 0.92);
	text-align: center;
	box-shadow: 10px 10px 5px #000000;
}

#cardArea {
	text-align: center;
}

.panel-cards, .panel-logins, .panel-sidebar {
	min-height: 300px;
	box-shadow: 10px 10px 5px #000000;
}

.panel-sidebar {
	min-height: 600px;
}

