@import url('https://fonts.googleapis.com/css?family=Slackey');

body {

	background-color: rgba(255, 36, 43, 0.87);
}

.small {
	margin: 5px -12px 5px -12px;


}

.container {
	width: 75%;
	height: 75%;

}

.container2 {
	width: 100%;
	height: 100%;

}

#pHeadings {
	background-color: rgba(124, 252, 0, 0.92);
}

.jumbotron {
	background-color: rgba(124, 252, 0, 0.92);
	text-align: center;
	box-shadow: 10px 10px 5px #000000;
	font-family: 'Slackey', cursive;
}

.panel-title {
	text-align: center;
	color: #000000;
}

#cardArea {
	text-align: center;
}

.panel-cards, .panel-register, .panel-sidebar {
	min-height: 220px;
	box-shadow: 10px 10px 5px #000000;
	background-color: #F7A2A2;
}

img {
	margin-top: 10px;
	box-shadow: 5px 5px 2.5px #000000;
	margin-left: 5px;
}

p {
	margin-top: 2px;
	margin-left: 5px;
}

#mainCard {
	margin-left: 30px;
}

.panel-login {
	box-shadow: 10px 10px 5px #000000;
	background-color: #F7A2A2;
}


.panel-sidebar {
	min-height: 600px;
	background-color: #F7A2A2;
}

ul {
	list-style: none;
}

.image {
	position: relative;
	width: 100%; /* for IE 6 */
}

h5 {
	position: absolute;
	top: 40px;
	left: 30%;
	right: 20%;
	width: 50%;
	font-size: 150%;
}

h6 {
	position: absolute;
	top: 10px;
	left: 30%;
	right: 20%;
	width: 50%;
	font-size: 100%;
}

