body {
   background-color: rgba(255, 36, 43, 0.87);
    font-family: porkys;
}

#pHeadings {
	background-color: rgba(124, 252, 0, 0.92);
}

.jumbotron {
	background-color: rgba(124, 252, 0, 0.92);
	text-align: center;
	box-shadow: 10px 10px 5px #000000;
}

.panel-title {
	text-align: center;
	color: #000000;
}

#cardArea {
	text-align: center;
}

.panel-cards, .panel-register, .panel-sidebar {
	min-height: 220px;
	box-shadow: 10px 10px 5px #000000;
	background-color: #F7A2A2;
}

img {
	margin-top: 10px;
	box-shadow: 5px 5px 2.5px #000000;
	margin-left: 5px;
}

p {
	margin-top: 2px;
	margin-left: 5px;
}

#mainCard {
	margin-left: 30px;
}

.panel-login {
	box-shadow: 10px 10px 5px #000000;
	background-color: #F7A2A2;
}


.panel-sidebar {
	min-height: 600px;
	background-color: #F7A2A2;
}

