body {

    background-color: rgba(255, 36, 43, 0.87);
    font-family: porkys;

}

.glyphicon.glyphicon-remove {

    font-size: 25px;
    margin-left: 2%;
    margin-top: 2%;
    color: white;

}

#profile {

    margin-left: 43.75%;
    color: white;
    font-size: 40px;

}

#picturerow {

    display: flex;
    justify-content: space-between;
    margin-top: 1.75%;

}

#trophy {

    margin-top: 6.25%;

}

#games_played {

    margin-top: 3%;

}

#trophyType {

    margin-left: 43.75%;
    color: white;

}

#user_name {

    margin-left: 29%;
    color: white;

}

#games {

    margin-left: 14%;
    color: white;

}

#numGamesPlayed {

    color: rgba(124, 252, 0, 0.92);

}

#cards_flipped, #games_won {

    color: white;
    font-size: 30px;

}

#cardsFlipped, #gamesWon {

    color: rgba(124, 252, 0, 0.92);
    font-size: 30px;

}

#stats_row {

    margin-left: 2%;

}