body {

    background-color: rgba(255, 36, 43, 0.87);
    font-family: porkys;

}

.glyphicon.glyphicon-remove {

    font-size: 25px;
    margin-left: 1.25%;
    margin-top: 1.25%;
    color: white;

}

#profile {

    margin-left: 43.5%;
    color: rgba(124, 252, 0, 0.92);
    font-size: 45px;

}

#picturerow {

    display: flex;
    justify-content: space-between;
    margin-top: 1.25%;

}

#trophy {

    margin-top: 6.25%;

}

#wreath {

    width: 23.5%;
    height: 27%;
    margin-left: 5.75%;
    margin-top: -20%;

}

#games_played {

    margin-top: 3%;

}

#info_text_row {

    display: flex;
    justify-content: space-between;
    margin-left: 7.25%;
    color: white;

}

#numGamesPlayed, #totalCardsFlipped, #gamesWon {

    color: rgba(124, 252, 0, 0.92);

}

#cards_flipped, #games_won {

    color: white;

}