li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.full {
  width: 98%;
  left:1%;
  right:1%;
  text-align: center;
}

.adjective{
  font-size: 125%;
}