You can't do anything with this card right now...
<!-- <span><img src="assets/images/cards/card_back.jpg" height="90%" width="90%"><span id="textarea3"></span> -->

<div class="image">

    <img src="assets/images/cards/nouncard.jpg" alt="appleFront" height="90%" width="90%"/>

    <h6><!--button type="submit" value="{{this.text}}" class="play-card">Play this card!</button-->
        <br>
        <br>
        <strong>Noun:  </strong>
        <br>
        <p>  {{this.text}}</p></h6>
    <br>
    <strong><p>
        <br>
        Desciption:</strong>{{this.desc}}</p>

</div>