
<div class="image">

    <img src="assets/images/cards/applefront.jpg" alt="appleFront" height="90%" width="90%"/>

    <h6><button type="submit" value="{{this.text}}" class="play-card">Play this card!</button>
        <br>
            <br>

        <strong>Noun:  </strong>
        <br>
            <br>
                <p>  {{this.text}}</p></h6>
    <br>
        <strong><p>
            <br>
                Desciption:</strong>{{this.desc}}</p>


